body { 
    background-color: rgb(190, 190, 187);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing:border-box;

}
h3 {
    color: rgba(0, 0, 0, 0.89);
    font-family: Arial;
}
h4 {
    color: rgb(226, 43, 83);
    font-style: italic;
}
p {
    color: black;
    font-family: Arial;
    font-size: medium;
}


  img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px ;
  width:500px ;
}

.strong 
         {
            color: rgb(61, 43, 226);
            text-align: center;
            font-size:bold ;
            font-size:30px;
        }

.link-box {
    border: 2px solid rgb(226, 43, 83);
    padding: 10px;
    text: black;
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color:  rgb(190, 190, 187);
}

header {
   
    font-size: 20px;
    color: rgb(61, 43, 226);
    font-weight: bold;
     border: 2px solid rgb(226, 43, 83);
    padding: 10px;
    background-color:  rgb(190, 190, 187);
    text-align: center;

}

/* flexbox style */


.nav-list {
  display: flex;       /* Aligns items in a row */
  list-style: none;    /* Removes bullet points */
  padding: 0;
  gap: 10px;          
 justify-content:space-around; /* Centers the nav items horizontally */
}



.nav-link {
  display: block;      /* Makes the whole area clickable */
  padding: 10px 20px;
  text-decoration: none;
  background:  rgb(226, 43, 83);   /* Default "button" look */
  color: white;
  border-radius: 5px;
}
.nav-link.special {
  flex-grow:2;
}



