body { 
    background-color: rgb(190, 190, 187);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing:border-box;

}
h3 {
    color: rgba(0, 0, 0, 0.89);
    font-family: Arial;
}
h4 {
    color: rgb(226, 43, 83);
    font-style: italic;
}
p {
    color: black;
    font-family: Arial;
    font-size: medium;
}


  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px ;
  width:500px ;
}

.strong 
         {
            color: rgb(61, 43, 226);
            text-align: center;
            font-size:bold ;
            font-size:30px;
        }
.link-box {
    border: 2px solid rgb(226, 43, 83);
    padding: 10px;
    text: black;
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color:  rgb(190, 190, 187);
}

header {
   
    font-size: 40px;
    color: rgb(61, 43, 226);
    font-weight: bold;
     border: 2px solid rgb(226, 43, 83);
    padding: 10px;
    background-color:  rgb(190, 190, 187);
    text-align: center;
}

nav {
    background-color: rgb(190, 190, 187);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(226, 43, 83);
}
button-link {
    background-color: rgb(61, 43, 226);
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}